matplotlib
numpy
opencv-python 
pdbpp 
tensorboard 
tensorflow-cpu 
scipy 
Pillow 
gdown 
isort 
black 
flake8
mypy 
types-requests 
pytype 
pytest 
pytest-cov 
pre-commit 
pytest-mock 
pytest-flask
Flask